body {
    width: 100%;
    background-color: rgb(92, 109, 104);
}

b h1 {
    font-size: 50px;
}

.part {
    color: aqua;
}

.world h2 {
    font-size: 40px;
}

.flaxiable-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 40%;
    padding-left: 2%;
    padding-right: 5%;

}

.half-width img {
    width: 110%;
    border-radius: 70%;

}

.first image {
    margin-top: 70px;
}

.half-width p {
    width: 90%;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 171, 58), rgb(151, 37, 17));
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}

.exprience {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;


}

#Full-Stack-Developwe {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    background-color: azure;

}

#Baby-web-Developer {
    border-left: 7px;
    border-image: linear-gradient(rgb(22, 148, 62), rgb(16, 3, 93));
    border-image-slice: 1;
    background-color: azure
}

footer p {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 171, 58), rgb(151, 37, 17));
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    width: 40;
}