body {
    width: 100%;
    margin: 0;
}

.top-image {
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}

.contract {
    width: 120;
    height: 200px;
    background-color: aliceblue;
    background-image: linear-gradient(rgb(56, 162, 157), rgb(162, 145, 189))
}


button {
    margin-left: 80%;
}

h1 {

    text: center;
    text-indent: 12px;

}


b h1 {
    font-size: 50px;
}

.part {
    color: aqua;
}

.world h2 {
    font-size: 40px;
}

.flaxiable-container {
    display: flex;
}

.half-width {
    margin-top: 70px;
    width: 50%;
    padding-left: 2%;
    padding-right: 5%;
}

.half-width img {

    width: 100%;
}

.radius {
    border-radius: 50px;
}

.Dream-big {
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.first image {
    margin-top: 0px;

}

.half-width p {
    width: 90%;
    text-align: justify;
    color: rgb(9, 9, 2);
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 171, 58), rgb(151, 37, 17));
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}

.exprience {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
}

.Developer img {
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    font-size: small;
}

#Full-Stack-Developwe {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    background-color: azure;

}

#Baby-web-Developer {
    border-left: 7px;
    border-image: linear-gradient(rgb(22, 148, 62), rgb(16, 3, 93));
    border-image-slice: 1;
    background-color: azure
}

footer p {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(rgb(233, 171, 58), rgb(151, 37, 17));
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    width: 40;

}